# version 3+ does different things re: networking from 2.x
# mainly things to support swarms
# aka things we don't need/want
version: '2.4'
services:
  online-web:
    image: ghcr.io/wetfish/online:dev-nginx
    build:
      context: .
      dockerfile: Dockerfile.nginx
    container_name: online-web
    restart: unless-stopped
    volumes:
      - ./wwwroot:/var/www/forum
      - ./config/nginx.conf:/etc/nginx/conf.d/default.conf
    # normally behind centeral traefik defined in production-manifests/services/traefik
    ports:
      - "127.0.0.1:2404:80"
    # join online-internal network
    networks:
      online-internal: {}
  
  online-php:
    # for development, build the image
    image: ghcr.io/wetfish/online:dev-php
    build:
      context: .
      dockerfile: Dockerfile.php
    container_name: online-php
    restart: unless-stopped
    env_file:
      - ./php.env
    volumes:
      - ./wwwroot:/var/www/forum
      # php-fpm configs
      - ./config/php-fpm.conf:/etc/php/5.6/fpm/php-fpm.conf:ro
      - ./config/php-fpm-pool.conf:/etc/php/5.6/fpm/pool.d/www.conf:ro
      - ./config/php.ini:/etc/php/5.6/fpm/php.ini:ro
    networks:
      online-internal: {}

  online-db:
    image: docker.io/mariadb:10.10
    container_name: online-db
    restart: unless-stopped
    env_file:
      - ./mariadb.env
    volumes:
      - ./config/docker.sql:/docker-entrypoint-initdb.d/setup.sql
      - ./db/data:/var/lib/mysql
    networks:
      online-internal: {}

networks:
  # ephemeral, created for us by compose
  online-internal:
    driver: bridge
