MARIADB_AUTO_UPGRADE=true
# should be localhost in production
MARIADB_ROOT_HOST=%
MARIADB_MYSQL_LOCALHOST_USER=true

MARIADB_ROOT_PASSWORD=mariadb

MARIADB_DATABASE=forums
MARIADB_USER=forums
MARIADB_PASSWORD=supersecret
