DB_HOST="online-db"
DB_DATABASE="forums"
DB_USERNAME="forums"
DB_PASSWORD="secret"

# Set to 1 to enable maintenance mode, 2 to make it immutable
MAINTENANCE_MODE=0
MAINTENANCE_TITLE="Maintenance Mode"
MAINTENANCE_MESSAGE="Okay faithful users...we're attempting to restore an older backup of the database...news will be posted once we're back"

SITE_NAME=Online
SITE_LANGUAGE=english

# These sites are expected to live at your.url/forum, please make sure your url has the correct structure
SITE_URL=https://wetfishonline.com/forum

OUTGOING_EMAIL=noreply@wetfishonline.com

# Online-specific bits
FORUM_NAME=Wetfish Online
FORUM_LANGUAGE=english
FORUM_URL=https://wetfishonline.com/forum
